body {
    background-image: url(graphics/placeholderbackground.png)
}

.usualsitetext {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;  
}

#gameplayfootage {
    display: flex;
    align-items: center;
    justify-content: center; 
}

#MainHeader {
    font-size: 300%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}